body {
    font-size:  1rem;
    padding: 1rem;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
}

select, input:not([type='checkbox']), label {
    font-size:  1.5rem;
    width: 100%;
    max-width: 30rem;
}

h1 {
    margin-bottom: 0;
}

.supported-envs {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.left-section {
    float: left;
}

.right-section {
    float: right;
}

input[type="submit"].save-button {
    position: relative;
    display: block;
    clear: both;
    float: none;
    top: 1rem;
}
